<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <ul class="nav__list">
            <li><a href="">Главная</a></li>
            <li><a href="">доставка и оплата</a></li>
            <li><a href="">О компании и услуги</a></li>
            <li><a href="">Контакты</a></li>
        </ul>
        <a href="#" class="nav__catalog">
            <i>
                <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 1L30 10L21 19" stroke="white" stroke-width="2"/>
                    <path d="M0 10L30 10" stroke="white" stroke-width="2"/>
                </svg>                    
            </i>
            открыть каталог товаров
        </a> 
        <a href="" class="nav__link">
            <i>
                <svg width="50" height="27" viewBox="0 0 50 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.6" clip-path="url(#clip0_34_2164)">
                    <path d="M41.4896 15.435C40.6813 14.4911 40.9125 14.0711 41.4896 13.2274C41.5 13.2177 48.1729 4.69139 48.8604 1.79983L48.8646 1.7979C49.2062 0.744148 48.8646 -0.0302734 47.2125 -0.0302734H41.7458C40.3542 -0.0302734 39.7125 0.634342 39.3687 1.37794C39.3687 1.37794 36.5854 7.53864 32.6479 11.5321C31.3771 12.686 30.7896 13.0559 30.0958 13.0559C29.7542 13.0559 29.2229 12.686 29.2229 11.6323V1.7979C29.2229 0.534168 28.8333 -0.0302734 27.6812 -0.0302734H19.0854C18.2125 -0.0302734 17.6937 0.559212 17.6937 1.10824C17.6937 2.30648 19.6625 2.58195 19.8667 5.95319V13.2678C19.8667 14.8706 19.5521 15.1653 18.8542 15.1653C16.9958 15.1653 12.4854 8.9796 9.8125 1.9C9.27292 0.526462 8.74583 -0.0283472 7.34375 -0.0283472H1.875C0.314583 -0.0283472 0 0.636268 0 1.37987C0 2.69369 1.85833 9.22618 8.64167 17.8566C13.1625 23.7476 19.5292 26.9396 25.3208 26.9396C28.8021 26.9396 29.2271 26.2307 29.2271 25.0113C29.2271 19.3823 28.9125 18.8506 30.6562 18.8506C31.4646 18.8506 32.8562 19.2205 36.1062 22.0619C39.8208 25.4312 40.4313 26.9396 42.5104 26.9396H47.9771C49.5354 26.9396 50.325 26.2307 49.8708 24.8321C48.8312 21.8905 41.8063 15.8396 41.4896 15.435Z" fill="#7FC723"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_34_2164">
                    <rect width="50" height="27" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>                    
            </i>eto_rostov_com
        </a>
    </div>
    <div class="search">
        <div class="container">
            <form class="search__bar">
                <button class="search__confirm">
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 36L12.1429 24.8572" stroke="#7FC723" stroke-width="2" stroke-linecap="round"/>
                        <circle cx="22.4289" cy="14.5714" r="13.5714" stroke="#7FC723" stroke-width="2"/>
                    </svg>                        
                </button>
                <input type="text" class="search__field" placeholder="Что будем искать?">
            </form>
            <div class="search__results">
                <div class="search__results-col">
                    <div class="products__item products-item search__results-items">
                        <div class="products-item__wrapper">
                            <div class="products-item__top">
                                <button class="products-item__featured">
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                        <path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3162C10.1026 20.4684 9.16789 19.6717 8.34318 18.9689L8.33897 18.9653C5.92107 16.9048 3.83312 15.1254 2.38037 13.3725C0.756407 11.4129 0 9.55493 0 7.52521C0 5.55316 0.676207 3.73383 1.90393 2.4021C3.1463 1.05463 4.851 0.3125 6.70458 0.3125C8.08995 0.3125 9.35869 0.750488 10.4754 1.6142C11.039 2.05017 11.5499 2.58374 12 3.20612C12.4502 2.58374 12.9609 2.05017 13.5247 1.6142C14.6415 0.750488 15.9102 0.3125 17.2956 0.3125C19.149 0.3125 20.8538 1.05463 22.0962 2.4021C23.3239 3.73383 24 5.55316 24 7.52521C24 9.55493 23.2437 11.4129 21.6198 13.3723C20.167 15.1254 18.0793 16.9046 15.6617 18.9649C14.8355 19.6688 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29956 2.93737 3.35498C1.9497 4.42633 1.4057 5.90729 1.4057 7.52521C1.4057 9.2323 2.04016 10.759 3.4627 12.4755C4.83764 14.1346 6.88274 15.8774 9.25065 17.8954L9.25505 17.899C10.0829 18.6046 11.0213 19.4044 11.998 20.2584C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4755C21.9598 10.759 22.5943 9.2323 22.5943 7.52521C22.5943 5.90729 22.0503 4.42633 21.0626 3.35498C20.0896 2.29956 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.0575 14.3846 2.7262C13.6139 3.32239 13.077 4.07605 12.7622 4.60339C12.6004 4.87457 12.3155 5.03644 12 5.03644C11.6845 5.03644 11.3996 4.87457 11.2377 4.60339C10.9231 4.07605 10.3863 3.32239 9.6154 2.7262C8.75059 2.0575 7.77116 1.71838 6.70458 1.71838Z" fill="#7FC723"/>
                                        </g>
                                    </svg>                                        
                                </button>
                            </div>
                            <div class="products-item__img">
                                <img src="<%=require('@img/product-1.png') %>" alt="">
                            </div>
                            <h3 class="products-item__name">
                                Футболка Это ростов
                            </h3>
                            <p class="products-item__category">
                                cувениры и подарки
                            </p>
                            <p class="products-item__price">
                                1290 руб.
                            </p>
                            <a href="" class="products-item__open">
                                <span class="linear"></span>
                                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_53)">
                                    <path d="M20.7381 15.5848C19.027 16.7469 17.1028 17.5103 15.0927 17.8246C13.0825 18.1389 11.0324 17.9968 9.07798 17.4077C7.12353 16.8187 5.30932 15.7962 3.75543 14.4078C2.20154 13.0194 0.943403 11.2968 0.0642845 9.3541C0.0142561 9.24365 -0.0117187 9.12268 -0.0117187 9.00015C-0.0117188 8.87762 0.0142561 8.75665 0.0642845 8.6462C1.22038 6.09954 3.01966 3.94273 5.26217 2.4155C7.57194 0.846704 10.2573 0.0129242 13.0001 0.0129242C15.743 0.0129242 18.4283 0.846704 20.7381 2.4155C22.9806 3.94273 24.7799 6.09954 25.936 8.64621C25.986 8.75666 26.012 8.87762 26.012 9.00015C26.012 9.12268 25.986 9.24365 25.936 9.3541C24.7799 11.9008 22.9806 14.0576 20.7381 15.5848ZM19.9056 3.79053C17.8442 2.39084 15.4478 1.64695 13.0001 1.64695C10.5524 1.64695 8.15601 2.39084 6.09461 3.79053C4.20175 5.0829 2.66162 6.87921 1.62795 9.00016C2.66162 11.1211 4.20175 12.9174 6.09461 14.2098C8.15601 15.6095 10.5524 16.3534 13.0001 16.3534C15.4478 16.3534 17.8442 15.6095 19.9056 14.2098C21.7985 12.9174 23.3386 11.1211 24.3723 9.00014C23.3386 6.8792 21.7985 5.08289 19.9056 3.79053Z" fill="#7FC723"/>
                                    <path d="M12.9999 15.2637C11.8317 15.2637 10.6899 14.8963 9.7186 14.208C8.74735 13.5198 7.99035 12.5415 7.54333 11.3969C7.09631 10.2524 6.97935 8.99296 7.20724 7.7779C7.43513 6.56285 7.99763 5.44676 8.82361 4.57076C9.6496 3.69475 10.702 3.09819 11.8476 2.8565C12.9933 2.61481 14.1808 2.73885 15.26 3.21294C16.3392 3.68703 17.2616 4.48987 17.9106 5.51994C18.5596 6.55001 18.906 7.76104 18.906 8.9999C18.9059 10.6611 18.2836 12.2543 17.176 13.429C16.0684 14.6036 14.5662 15.2636 12.9999 15.2637ZM16.0866 5.72621C15.3725 4.96883 14.4328 4.4975 13.4278 4.39252C12.4227 4.28754 11.4144 4.55541 10.5746 5.15048C9.7349 5.74556 9.1157 6.63102 8.82254 7.656C8.52937 8.68098 8.58038 9.78206 8.96687 10.7716C9.35336 11.7612 10.0514 12.578 10.9421 13.0829C11.8328 13.5878 12.861 13.7496 13.8516 13.5406C14.8421 13.3317 15.7337 12.7649 16.3744 11.9369C17.0151 11.109 17.3652 10.071 17.3652 8.9999C17.3662 8.39177 17.2537 7.78945 17.0342 7.22762C16.8148 6.66578 16.4928 6.15552 16.0866 5.72621Z" fill="#7FC723"/>
                                    <path d="M13.0008 12.1519C12.2127 12.1518 11.4569 11.8198 10.8996 11.2288C10.3424 10.6378 10.0293 9.83622 10.0293 9.00042C10.0293 8.78373 10.1105 8.57592 10.2549 8.42269C10.3994 8.26947 10.5954 8.1834 10.7997 8.1834C11.004 8.1834 11.1999 8.26947 11.3444 8.42269C11.4889 8.57592 11.57 8.78373 11.57 9.00042C11.57 9.30052 11.654 9.59387 11.8112 9.84339C11.9684 10.0929 12.1918 10.2874 12.4533 10.4022C12.7147 10.5171 13.0024 10.5471 13.2799 10.4886C13.5574 10.43 13.8123 10.2855 14.0124 10.0733C14.2125 9.86109 14.3488 9.59073 14.404 9.2964C14.4592 9.00207 14.4308 8.69698 14.3226 8.41973C14.2143 8.14247 14.0309 7.90549 13.7956 7.73876C13.5604 7.57203 13.2838 7.48303 13.0008 7.48302C12.7965 7.48302 12.6005 7.39694 12.4561 7.24372C12.3116 7.0905 12.2304 6.88269 12.2304 6.666C12.2304 6.44931 12.3116 6.2415 12.4561 6.08828C12.6005 5.93506 12.7965 5.84898 13.0008 5.84898V5.849C13.7889 5.849 14.5447 6.18103 15.102 6.77203C15.6592 7.36304 15.9723 8.16462 15.9723 9.00043C15.9723 9.83624 15.6592 10.6378 15.102 11.2288C14.5447 11.8198 13.7889 12.1519 13.0008 12.1519V12.1519Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_53">
                                    <rect width="26" height="18" fill="white" transform="matrix(1 0 0 -1 0 18)"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                
                            </a>
                            <a href="" class="products-item__shop">
                                <span class="linear"></span>
                                <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_47)">
                                    <path d="M10.0008 14.0171C8.83219 14.0185 7.69924 13.619 6.79486 12.8866C5.89049 12.1542 5.27061 11.1343 5.04079 10.0004C5.02247 9.88098 5.03061 9.75903 5.06464 9.64302C5.09868 9.52701 5.1578 9.4197 5.2379 9.32854C5.318 9.23739 5.41717 9.16455 5.52854 9.11509C5.63992 9.06562 5.76082 9.04071 5.88289 9.04208C6.08351 9.03919 6.27857 9.10728 6.43296 9.23409C6.58735 9.3609 6.69091 9.53809 6.725 9.73375C6.88359 10.4828 7.29786 11.1551 7.89821 11.6376C8.49855 12.1202 9.24842 12.3836 10.0218 12.3836C10.7953 12.3836 11.5451 12.1202 12.1455 11.6376C12.7458 11.1551 13.1601 10.4828 13.3187 9.73375C13.3528 9.53809 13.4563 9.3609 13.6107 9.23409C13.7651 9.10728 13.9602 9.03919 14.1608 9.04208C14.2829 9.04071 14.4038 9.06562 14.5151 9.11509C14.6265 9.16455 14.7257 9.23739 14.8058 9.32854C14.8859 9.4197 14.945 9.52701 14.979 9.64302C15.0131 9.75903 15.0212 9.88098 15.0029 10.0004C14.7717 11.1413 14.1456 12.1667 13.2326 12.8999C12.3195 13.6331 11.1766 14.0282 10.0008 14.0171Z" fill="#7FC723"/>
                                    <path d="M17.4955 25H2.50604C2.16338 25.0005 1.82421 24.9319 1.50917 24.7985C1.19413 24.6651 0.909797 24.4697 0.673478 24.2242C0.437158 23.9786 0.253789 23.6881 0.134523 23.3702C0.0152575 23.0523 -0.0374108 22.7137 -0.0202774 22.375L0.661828 8.00837C0.690058 7.36428 0.968635 6.75589 1.43939 6.31023C1.91014 5.86457 2.53667 5.61609 3.18814 5.6167H16.8134C17.4649 5.61609 18.0914 5.86457 18.5622 6.31023C19.0329 6.75589 19.3115 7.36428 19.3397 8.00837L20.0218 22.375C20.039 22.7137 19.9863 23.0523 19.867 23.3702C19.7478 23.6881 19.5644 23.9786 19.3281 24.2242C19.0918 24.4697 18.8074 24.6651 18.4924 24.7985C18.1773 24.9319 17.8382 25.0005 17.4955 25ZM3.18814 7.2917C2.9648 7.2917 2.75061 7.3795 2.59269 7.53578C2.43476 7.69206 2.34604 7.90402 2.34604 8.12503L1.66393 22.4584C1.65822 22.5713 1.67578 22.6841 1.71553 22.7901C1.75529 22.896 1.81641 22.9929 1.89518 23.0747C1.97396 23.1566 2.06873 23.2217 2.17375 23.2662C2.27876 23.3107 2.39182 23.3335 2.50604 23.3334H17.4955C17.6097 23.3335 17.7228 23.3107 17.8278 23.2662C17.9328 23.2217 18.0276 23.1566 18.1064 23.0747C18.1851 22.9929 18.2463 22.896 18.286 22.7901C18.3258 22.6841 18.3433 22.5713 18.3376 22.4584L17.6555 8.0917C17.6555 7.87069 17.5668 7.65873 17.4089 7.50244C17.2509 7.34616 17.0367 7.25837 16.8134 7.25837L3.18814 7.2917Z" fill="#7FC723"/>
                                    <path d="M15.0525 6.45833H13.3683V5C13.3683 4.11594 13.0134 3.2681 12.3817 2.64298C11.75 2.01786 10.8933 1.66667 9.9999 1.66667C9.10654 1.66667 8.24976 2.01786 7.61806 2.64298C6.98636 3.2681 6.63148 4.11594 6.63148 5V6.45833H4.94727V5C4.94727 3.67392 5.4796 2.40215 6.42715 1.46447C7.3747 0.526784 8.65986 0 9.9999 0C11.3399 0 12.6251 0.526784 13.5726 1.46447C14.5202 2.40215 15.0525 3.67392 15.0525 5V6.45833Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_47">
                                    <rect width="20" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                                                  
                            </a>
                        </div>
                    </div>
                </div>
                <div class="search__results-col">
                    <div class="products__item products-item search__results-items">
                        <div class="products-item__wrapper">
                            <div class="products-item__top">
                                <button class="products-item__featured">
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                        <path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3162C10.1026 20.4684 9.16789 19.6717 8.34318 18.9689L8.33897 18.9653C5.92107 16.9048 3.83312 15.1254 2.38037 13.3725C0.756407 11.4129 0 9.55493 0 7.52521C0 5.55316 0.676207 3.73383 1.90393 2.4021C3.1463 1.05463 4.851 0.3125 6.70458 0.3125C8.08995 0.3125 9.35869 0.750488 10.4754 1.6142C11.039 2.05017 11.5499 2.58374 12 3.20612C12.4502 2.58374 12.9609 2.05017 13.5247 1.6142C14.6415 0.750488 15.9102 0.3125 17.2956 0.3125C19.149 0.3125 20.8538 1.05463 22.0962 2.4021C23.3239 3.73383 24 5.55316 24 7.52521C24 9.55493 23.2437 11.4129 21.6198 13.3723C20.167 15.1254 18.0793 16.9046 15.6617 18.9649C14.8355 19.6688 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29956 2.93737 3.35498C1.9497 4.42633 1.4057 5.90729 1.4057 7.52521C1.4057 9.2323 2.04016 10.759 3.4627 12.4755C4.83764 14.1346 6.88274 15.8774 9.25065 17.8954L9.25505 17.899C10.0829 18.6046 11.0213 19.4044 11.998 20.2584C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4755C21.9598 10.759 22.5943 9.2323 22.5943 7.52521C22.5943 5.90729 22.0503 4.42633 21.0626 3.35498C20.0896 2.29956 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.0575 14.3846 2.7262C13.6139 3.32239 13.077 4.07605 12.7622 4.60339C12.6004 4.87457 12.3155 5.03644 12 5.03644C11.6845 5.03644 11.3996 4.87457 11.2377 4.60339C10.9231 4.07605 10.3863 3.32239 9.6154 2.7262C8.75059 2.0575 7.77116 1.71838 6.70458 1.71838Z" fill="#7FC723"/>
                                        </g>
                                    </svg>                                        
                                </button>
                            </div>
                            <div class="products-item__img">
                                <img src="<%=require('@img/product-1.png') %>" alt="">
                            </div>
                            <h3 class="products-item__name">
                                Футболка Это ростов
                            </h3>
                            <p class="products-item__category">
                                cувениры и подарки
                            </p>
                            <p class="products-item__price">
                                1290 руб.
                            </p>
                            <a href="" class="products-item__open">
                                <span class="linear"></span>
                                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_53)">
                                    <path d="M20.7381 15.5848C19.027 16.7469 17.1028 17.5103 15.0927 17.8246C13.0825 18.1389 11.0324 17.9968 9.07798 17.4077C7.12353 16.8187 5.30932 15.7962 3.75543 14.4078C2.20154 13.0194 0.943403 11.2968 0.0642845 9.3541C0.0142561 9.24365 -0.0117187 9.12268 -0.0117187 9.00015C-0.0117188 8.87762 0.0142561 8.75665 0.0642845 8.6462C1.22038 6.09954 3.01966 3.94273 5.26217 2.4155C7.57194 0.846704 10.2573 0.0129242 13.0001 0.0129242C15.743 0.0129242 18.4283 0.846704 20.7381 2.4155C22.9806 3.94273 24.7799 6.09954 25.936 8.64621C25.986 8.75666 26.012 8.87762 26.012 9.00015C26.012 9.12268 25.986 9.24365 25.936 9.3541C24.7799 11.9008 22.9806 14.0576 20.7381 15.5848ZM19.9056 3.79053C17.8442 2.39084 15.4478 1.64695 13.0001 1.64695C10.5524 1.64695 8.15601 2.39084 6.09461 3.79053C4.20175 5.0829 2.66162 6.87921 1.62795 9.00016C2.66162 11.1211 4.20175 12.9174 6.09461 14.2098C8.15601 15.6095 10.5524 16.3534 13.0001 16.3534C15.4478 16.3534 17.8442 15.6095 19.9056 14.2098C21.7985 12.9174 23.3386 11.1211 24.3723 9.00014C23.3386 6.8792 21.7985 5.08289 19.9056 3.79053Z" fill="#7FC723"/>
                                    <path d="M12.9999 15.2637C11.8317 15.2637 10.6899 14.8963 9.7186 14.208C8.74735 13.5198 7.99035 12.5415 7.54333 11.3969C7.09631 10.2524 6.97935 8.99296 7.20724 7.7779C7.43513 6.56285 7.99763 5.44676 8.82361 4.57076C9.6496 3.69475 10.702 3.09819 11.8476 2.8565C12.9933 2.61481 14.1808 2.73885 15.26 3.21294C16.3392 3.68703 17.2616 4.48987 17.9106 5.51994C18.5596 6.55001 18.906 7.76104 18.906 8.9999C18.9059 10.6611 18.2836 12.2543 17.176 13.429C16.0684 14.6036 14.5662 15.2636 12.9999 15.2637ZM16.0866 5.72621C15.3725 4.96883 14.4328 4.4975 13.4278 4.39252C12.4227 4.28754 11.4144 4.55541 10.5746 5.15048C9.7349 5.74556 9.1157 6.63102 8.82254 7.656C8.52937 8.68098 8.58038 9.78206 8.96687 10.7716C9.35336 11.7612 10.0514 12.578 10.9421 13.0829C11.8328 13.5878 12.861 13.7496 13.8516 13.5406C14.8421 13.3317 15.7337 12.7649 16.3744 11.9369C17.0151 11.109 17.3652 10.071 17.3652 8.9999C17.3662 8.39177 17.2537 7.78945 17.0342 7.22762C16.8148 6.66578 16.4928 6.15552 16.0866 5.72621Z" fill="#7FC723"/>
                                    <path d="M13.0008 12.1519C12.2127 12.1518 11.4569 11.8198 10.8996 11.2288C10.3424 10.6378 10.0293 9.83622 10.0293 9.00042C10.0293 8.78373 10.1105 8.57592 10.2549 8.42269C10.3994 8.26947 10.5954 8.1834 10.7997 8.1834C11.004 8.1834 11.1999 8.26947 11.3444 8.42269C11.4889 8.57592 11.57 8.78373 11.57 9.00042C11.57 9.30052 11.654 9.59387 11.8112 9.84339C11.9684 10.0929 12.1918 10.2874 12.4533 10.4022C12.7147 10.5171 13.0024 10.5471 13.2799 10.4886C13.5574 10.43 13.8123 10.2855 14.0124 10.0733C14.2125 9.86109 14.3488 9.59073 14.404 9.2964C14.4592 9.00207 14.4308 8.69698 14.3226 8.41973C14.2143 8.14247 14.0309 7.90549 13.7956 7.73876C13.5604 7.57203 13.2838 7.48303 13.0008 7.48302C12.7965 7.48302 12.6005 7.39694 12.4561 7.24372C12.3116 7.0905 12.2304 6.88269 12.2304 6.666C12.2304 6.44931 12.3116 6.2415 12.4561 6.08828C12.6005 5.93506 12.7965 5.84898 13.0008 5.84898V5.849C13.7889 5.849 14.5447 6.18103 15.102 6.77203C15.6592 7.36304 15.9723 8.16462 15.9723 9.00043C15.9723 9.83624 15.6592 10.6378 15.102 11.2288C14.5447 11.8198 13.7889 12.1519 13.0008 12.1519V12.1519Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_53">
                                    <rect width="26" height="18" fill="white" transform="matrix(1 0 0 -1 0 18)"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                
                            </a>
                            <a href="" class="products-item__shop">
                                <span class="linear"></span>
                                <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_47)">
                                    <path d="M10.0008 14.0171C8.83219 14.0185 7.69924 13.619 6.79486 12.8866C5.89049 12.1542 5.27061 11.1343 5.04079 10.0004C5.02247 9.88098 5.03061 9.75903 5.06464 9.64302C5.09868 9.52701 5.1578 9.4197 5.2379 9.32854C5.318 9.23739 5.41717 9.16455 5.52854 9.11509C5.63992 9.06562 5.76082 9.04071 5.88289 9.04208C6.08351 9.03919 6.27857 9.10728 6.43296 9.23409C6.58735 9.3609 6.69091 9.53809 6.725 9.73375C6.88359 10.4828 7.29786 11.1551 7.89821 11.6376C8.49855 12.1202 9.24842 12.3836 10.0218 12.3836C10.7953 12.3836 11.5451 12.1202 12.1455 11.6376C12.7458 11.1551 13.1601 10.4828 13.3187 9.73375C13.3528 9.53809 13.4563 9.3609 13.6107 9.23409C13.7651 9.10728 13.9602 9.03919 14.1608 9.04208C14.2829 9.04071 14.4038 9.06562 14.5151 9.11509C14.6265 9.16455 14.7257 9.23739 14.8058 9.32854C14.8859 9.4197 14.945 9.52701 14.979 9.64302C15.0131 9.75903 15.0212 9.88098 15.0029 10.0004C14.7717 11.1413 14.1456 12.1667 13.2326 12.8999C12.3195 13.6331 11.1766 14.0282 10.0008 14.0171Z" fill="#7FC723"/>
                                    <path d="M17.4955 25H2.50604C2.16338 25.0005 1.82421 24.9319 1.50917 24.7985C1.19413 24.6651 0.909797 24.4697 0.673478 24.2242C0.437158 23.9786 0.253789 23.6881 0.134523 23.3702C0.0152575 23.0523 -0.0374108 22.7137 -0.0202774 22.375L0.661828 8.00837C0.690058 7.36428 0.968635 6.75589 1.43939 6.31023C1.91014 5.86457 2.53667 5.61609 3.18814 5.6167H16.8134C17.4649 5.61609 18.0914 5.86457 18.5622 6.31023C19.0329 6.75589 19.3115 7.36428 19.3397 8.00837L20.0218 22.375C20.039 22.7137 19.9863 23.0523 19.867 23.3702C19.7478 23.6881 19.5644 23.9786 19.3281 24.2242C19.0918 24.4697 18.8074 24.6651 18.4924 24.7985C18.1773 24.9319 17.8382 25.0005 17.4955 25ZM3.18814 7.2917C2.9648 7.2917 2.75061 7.3795 2.59269 7.53578C2.43476 7.69206 2.34604 7.90402 2.34604 8.12503L1.66393 22.4584C1.65822 22.5713 1.67578 22.6841 1.71553 22.7901C1.75529 22.896 1.81641 22.9929 1.89518 23.0747C1.97396 23.1566 2.06873 23.2217 2.17375 23.2662C2.27876 23.3107 2.39182 23.3335 2.50604 23.3334H17.4955C17.6097 23.3335 17.7228 23.3107 17.8278 23.2662C17.9328 23.2217 18.0276 23.1566 18.1064 23.0747C18.1851 22.9929 18.2463 22.896 18.286 22.7901C18.3258 22.6841 18.3433 22.5713 18.3376 22.4584L17.6555 8.0917C17.6555 7.87069 17.5668 7.65873 17.4089 7.50244C17.2509 7.34616 17.0367 7.25837 16.8134 7.25837L3.18814 7.2917Z" fill="#7FC723"/>
                                    <path d="M15.0525 6.45833H13.3683V5C13.3683 4.11594 13.0134 3.2681 12.3817 2.64298C11.75 2.01786 10.8933 1.66667 9.9999 1.66667C9.10654 1.66667 8.24976 2.01786 7.61806 2.64298C6.98636 3.2681 6.63148 4.11594 6.63148 5V6.45833H4.94727V5C4.94727 3.67392 5.4796 2.40215 6.42715 1.46447C7.3747 0.526784 8.65986 0 9.9999 0C11.3399 0 12.6251 0.526784 13.5726 1.46447C14.5202 2.40215 15.0525 3.67392 15.0525 5V6.45833Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_47">
                                    <rect width="20" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                                                  
                            </a>
                        </div>
                    </div>
                </div><div class="search__results-col">
                    <div class="products__item products-item search__results-items">
                        <div class="products-item__wrapper">
                            <div class="products-item__top">
                                <button class="products-item__featured">
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                        <path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3162C10.1026 20.4684 9.16789 19.6717 8.34318 18.9689L8.33897 18.9653C5.92107 16.9048 3.83312 15.1254 2.38037 13.3725C0.756407 11.4129 0 9.55493 0 7.52521C0 5.55316 0.676207 3.73383 1.90393 2.4021C3.1463 1.05463 4.851 0.3125 6.70458 0.3125C8.08995 0.3125 9.35869 0.750488 10.4754 1.6142C11.039 2.05017 11.5499 2.58374 12 3.20612C12.4502 2.58374 12.9609 2.05017 13.5247 1.6142C14.6415 0.750488 15.9102 0.3125 17.2956 0.3125C19.149 0.3125 20.8538 1.05463 22.0962 2.4021C23.3239 3.73383 24 5.55316 24 7.52521C24 9.55493 23.2437 11.4129 21.6198 13.3723C20.167 15.1254 18.0793 16.9046 15.6617 18.9649C14.8355 19.6688 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29956 2.93737 3.35498C1.9497 4.42633 1.4057 5.90729 1.4057 7.52521C1.4057 9.2323 2.04016 10.759 3.4627 12.4755C4.83764 14.1346 6.88274 15.8774 9.25065 17.8954L9.25505 17.899C10.0829 18.6046 11.0213 19.4044 11.998 20.2584C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4755C21.9598 10.759 22.5943 9.2323 22.5943 7.52521C22.5943 5.90729 22.0503 4.42633 21.0626 3.35498C20.0896 2.29956 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.0575 14.3846 2.7262C13.6139 3.32239 13.077 4.07605 12.7622 4.60339C12.6004 4.87457 12.3155 5.03644 12 5.03644C11.6845 5.03644 11.3996 4.87457 11.2377 4.60339C10.9231 4.07605 10.3863 3.32239 9.6154 2.7262C8.75059 2.0575 7.77116 1.71838 6.70458 1.71838Z" fill="#7FC723"/>
                                        </g>
                                    </svg>                                        
                                </button>
                            </div>
                            <div class="products-item__img">
                                <img src="<%=require('@img/product-1.png') %>" alt="">
                            </div>
                            <h3 class="products-item__name">
                                Футболка Это ростов
                            </h3>
                            <p class="products-item__category">
                                cувениры и подарки
                            </p>
                            <p class="products-item__price">
                                1290 руб.
                            </p>
                            <a href="" class="products-item__open">
                                <span class="linear"></span>
                                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_53)">
                                    <path d="M20.7381 15.5848C19.027 16.7469 17.1028 17.5103 15.0927 17.8246C13.0825 18.1389 11.0324 17.9968 9.07798 17.4077C7.12353 16.8187 5.30932 15.7962 3.75543 14.4078C2.20154 13.0194 0.943403 11.2968 0.0642845 9.3541C0.0142561 9.24365 -0.0117187 9.12268 -0.0117187 9.00015C-0.0117188 8.87762 0.0142561 8.75665 0.0642845 8.6462C1.22038 6.09954 3.01966 3.94273 5.26217 2.4155C7.57194 0.846704 10.2573 0.0129242 13.0001 0.0129242C15.743 0.0129242 18.4283 0.846704 20.7381 2.4155C22.9806 3.94273 24.7799 6.09954 25.936 8.64621C25.986 8.75666 26.012 8.87762 26.012 9.00015C26.012 9.12268 25.986 9.24365 25.936 9.3541C24.7799 11.9008 22.9806 14.0576 20.7381 15.5848ZM19.9056 3.79053C17.8442 2.39084 15.4478 1.64695 13.0001 1.64695C10.5524 1.64695 8.15601 2.39084 6.09461 3.79053C4.20175 5.0829 2.66162 6.87921 1.62795 9.00016C2.66162 11.1211 4.20175 12.9174 6.09461 14.2098C8.15601 15.6095 10.5524 16.3534 13.0001 16.3534C15.4478 16.3534 17.8442 15.6095 19.9056 14.2098C21.7985 12.9174 23.3386 11.1211 24.3723 9.00014C23.3386 6.8792 21.7985 5.08289 19.9056 3.79053Z" fill="#7FC723"/>
                                    <path d="M12.9999 15.2637C11.8317 15.2637 10.6899 14.8963 9.7186 14.208C8.74735 13.5198 7.99035 12.5415 7.54333 11.3969C7.09631 10.2524 6.97935 8.99296 7.20724 7.7779C7.43513 6.56285 7.99763 5.44676 8.82361 4.57076C9.6496 3.69475 10.702 3.09819 11.8476 2.8565C12.9933 2.61481 14.1808 2.73885 15.26 3.21294C16.3392 3.68703 17.2616 4.48987 17.9106 5.51994C18.5596 6.55001 18.906 7.76104 18.906 8.9999C18.9059 10.6611 18.2836 12.2543 17.176 13.429C16.0684 14.6036 14.5662 15.2636 12.9999 15.2637ZM16.0866 5.72621C15.3725 4.96883 14.4328 4.4975 13.4278 4.39252C12.4227 4.28754 11.4144 4.55541 10.5746 5.15048C9.7349 5.74556 9.1157 6.63102 8.82254 7.656C8.52937 8.68098 8.58038 9.78206 8.96687 10.7716C9.35336 11.7612 10.0514 12.578 10.9421 13.0829C11.8328 13.5878 12.861 13.7496 13.8516 13.5406C14.8421 13.3317 15.7337 12.7649 16.3744 11.9369C17.0151 11.109 17.3652 10.071 17.3652 8.9999C17.3662 8.39177 17.2537 7.78945 17.0342 7.22762C16.8148 6.66578 16.4928 6.15552 16.0866 5.72621Z" fill="#7FC723"/>
                                    <path d="M13.0008 12.1519C12.2127 12.1518 11.4569 11.8198 10.8996 11.2288C10.3424 10.6378 10.0293 9.83622 10.0293 9.00042C10.0293 8.78373 10.1105 8.57592 10.2549 8.42269C10.3994 8.26947 10.5954 8.1834 10.7997 8.1834C11.004 8.1834 11.1999 8.26947 11.3444 8.42269C11.4889 8.57592 11.57 8.78373 11.57 9.00042C11.57 9.30052 11.654 9.59387 11.8112 9.84339C11.9684 10.0929 12.1918 10.2874 12.4533 10.4022C12.7147 10.5171 13.0024 10.5471 13.2799 10.4886C13.5574 10.43 13.8123 10.2855 14.0124 10.0733C14.2125 9.86109 14.3488 9.59073 14.404 9.2964C14.4592 9.00207 14.4308 8.69698 14.3226 8.41973C14.2143 8.14247 14.0309 7.90549 13.7956 7.73876C13.5604 7.57203 13.2838 7.48303 13.0008 7.48302C12.7965 7.48302 12.6005 7.39694 12.4561 7.24372C12.3116 7.0905 12.2304 6.88269 12.2304 6.666C12.2304 6.44931 12.3116 6.2415 12.4561 6.08828C12.6005 5.93506 12.7965 5.84898 13.0008 5.84898V5.849C13.7889 5.849 14.5447 6.18103 15.102 6.77203C15.6592 7.36304 15.9723 8.16462 15.9723 9.00043C15.9723 9.83624 15.6592 10.6378 15.102 11.2288C14.5447 11.8198 13.7889 12.1519 13.0008 12.1519V12.1519Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_53">
                                    <rect width="26" height="18" fill="white" transform="matrix(1 0 0 -1 0 18)"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                
                            </a>
                            <a href="" class="products-item__shop">
                                <span class="linear"></span>
                                <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_47)">
                                    <path d="M10.0008 14.0171C8.83219 14.0185 7.69924 13.619 6.79486 12.8866C5.89049 12.1542 5.27061 11.1343 5.04079 10.0004C5.02247 9.88098 5.03061 9.75903 5.06464 9.64302C5.09868 9.52701 5.1578 9.4197 5.2379 9.32854C5.318 9.23739 5.41717 9.16455 5.52854 9.11509C5.63992 9.06562 5.76082 9.04071 5.88289 9.04208C6.08351 9.03919 6.27857 9.10728 6.43296 9.23409C6.58735 9.3609 6.69091 9.53809 6.725 9.73375C6.88359 10.4828 7.29786 11.1551 7.89821 11.6376C8.49855 12.1202 9.24842 12.3836 10.0218 12.3836C10.7953 12.3836 11.5451 12.1202 12.1455 11.6376C12.7458 11.1551 13.1601 10.4828 13.3187 9.73375C13.3528 9.53809 13.4563 9.3609 13.6107 9.23409C13.7651 9.10728 13.9602 9.03919 14.1608 9.04208C14.2829 9.04071 14.4038 9.06562 14.5151 9.11509C14.6265 9.16455 14.7257 9.23739 14.8058 9.32854C14.8859 9.4197 14.945 9.52701 14.979 9.64302C15.0131 9.75903 15.0212 9.88098 15.0029 10.0004C14.7717 11.1413 14.1456 12.1667 13.2326 12.8999C12.3195 13.6331 11.1766 14.0282 10.0008 14.0171Z" fill="#7FC723"/>
                                    <path d="M17.4955 25H2.50604C2.16338 25.0005 1.82421 24.9319 1.50917 24.7985C1.19413 24.6651 0.909797 24.4697 0.673478 24.2242C0.437158 23.9786 0.253789 23.6881 0.134523 23.3702C0.0152575 23.0523 -0.0374108 22.7137 -0.0202774 22.375L0.661828 8.00837C0.690058 7.36428 0.968635 6.75589 1.43939 6.31023C1.91014 5.86457 2.53667 5.61609 3.18814 5.6167H16.8134C17.4649 5.61609 18.0914 5.86457 18.5622 6.31023C19.0329 6.75589 19.3115 7.36428 19.3397 8.00837L20.0218 22.375C20.039 22.7137 19.9863 23.0523 19.867 23.3702C19.7478 23.6881 19.5644 23.9786 19.3281 24.2242C19.0918 24.4697 18.8074 24.6651 18.4924 24.7985C18.1773 24.9319 17.8382 25.0005 17.4955 25ZM3.18814 7.2917C2.9648 7.2917 2.75061 7.3795 2.59269 7.53578C2.43476 7.69206 2.34604 7.90402 2.34604 8.12503L1.66393 22.4584C1.65822 22.5713 1.67578 22.6841 1.71553 22.7901C1.75529 22.896 1.81641 22.9929 1.89518 23.0747C1.97396 23.1566 2.06873 23.2217 2.17375 23.2662C2.27876 23.3107 2.39182 23.3335 2.50604 23.3334H17.4955C17.6097 23.3335 17.7228 23.3107 17.8278 23.2662C17.9328 23.2217 18.0276 23.1566 18.1064 23.0747C18.1851 22.9929 18.2463 22.896 18.286 22.7901C18.3258 22.6841 18.3433 22.5713 18.3376 22.4584L17.6555 8.0917C17.6555 7.87069 17.5668 7.65873 17.4089 7.50244C17.2509 7.34616 17.0367 7.25837 16.8134 7.25837L3.18814 7.2917Z" fill="#7FC723"/>
                                    <path d="M15.0525 6.45833H13.3683V5C13.3683 4.11594 13.0134 3.2681 12.3817 2.64298C11.75 2.01786 10.8933 1.66667 9.9999 1.66667C9.10654 1.66667 8.24976 2.01786 7.61806 2.64298C6.98636 3.2681 6.63148 4.11594 6.63148 5V6.45833H4.94727V5C4.94727 3.67392 5.4796 2.40215 6.42715 1.46447C7.3747 0.526784 8.65986 0 9.9999 0C11.3399 0 12.6251 0.526784 13.5726 1.46447C14.5202 2.40215 15.0525 3.67392 15.0525 5V6.45833Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_47">
                                    <rect width="20" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                                                  
                            </a>
                        </div>
                    </div>
                </div><div class="search__results-col">
                    <div class="products__item products-item search__results-items">
                        <div class="products-item__wrapper">
                            <div class="products-item__top">
                                <button class="products-item__featured">
                                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                        <path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3162C10.1026 20.4684 9.16789 19.6717 8.34318 18.9689L8.33897 18.9653C5.92107 16.9048 3.83312 15.1254 2.38037 13.3725C0.756407 11.4129 0 9.55493 0 7.52521C0 5.55316 0.676207 3.73383 1.90393 2.4021C3.1463 1.05463 4.851 0.3125 6.70458 0.3125C8.08995 0.3125 9.35869 0.750488 10.4754 1.6142C11.039 2.05017 11.5499 2.58374 12 3.20612C12.4502 2.58374 12.9609 2.05017 13.5247 1.6142C14.6415 0.750488 15.9102 0.3125 17.2956 0.3125C19.149 0.3125 20.8538 1.05463 22.0962 2.4021C23.3239 3.73383 24 5.55316 24 7.52521C24 9.55493 23.2437 11.4129 21.6198 13.3723C20.167 15.1254 18.0793 16.9046 15.6617 18.9649C14.8355 19.6688 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29956 2.93737 3.35498C1.9497 4.42633 1.4057 5.90729 1.4057 7.52521C1.4057 9.2323 2.04016 10.759 3.4627 12.4755C4.83764 14.1346 6.88274 15.8774 9.25065 17.8954L9.25505 17.899C10.0829 18.6046 11.0213 19.4044 11.998 20.2584C12.9805 19.4027 13.9204 18.6016 14.7499 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4755C21.9598 10.759 22.5943 9.2323 22.5943 7.52521C22.5943 5.90729 22.0503 4.42633 21.0626 3.35498C20.0896 2.29956 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.0575 14.3846 2.7262C13.6139 3.32239 13.077 4.07605 12.7622 4.60339C12.6004 4.87457 12.3155 5.03644 12 5.03644C11.6845 5.03644 11.3996 4.87457 11.2377 4.60339C10.9231 4.07605 10.3863 3.32239 9.6154 2.7262C8.75059 2.0575 7.77116 1.71838 6.70458 1.71838Z" fill="#7FC723"/>
                                        </g>
                                    </svg>                                        
                                </button>
                            </div>
                            <div class="products-item__img">
                                <img src="<%=require('@img/product-1.png') %>" alt="">
                            </div>
                            <h3 class="products-item__name">
                                Футболка Это ростов
                            </h3>
                            <p class="products-item__category">
                                cувениры и подарки
                            </p>
                            <p class="products-item__price">
                                1290 руб.
                            </p>
                            <a href="" class="products-item__open">
                                <span class="linear"></span>
                                <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_53)">
                                    <path d="M20.7381 15.5848C19.027 16.7469 17.1028 17.5103 15.0927 17.8246C13.0825 18.1389 11.0324 17.9968 9.07798 17.4077C7.12353 16.8187 5.30932 15.7962 3.75543 14.4078C2.20154 13.0194 0.943403 11.2968 0.0642845 9.3541C0.0142561 9.24365 -0.0117187 9.12268 -0.0117187 9.00015C-0.0117188 8.87762 0.0142561 8.75665 0.0642845 8.6462C1.22038 6.09954 3.01966 3.94273 5.26217 2.4155C7.57194 0.846704 10.2573 0.0129242 13.0001 0.0129242C15.743 0.0129242 18.4283 0.846704 20.7381 2.4155C22.9806 3.94273 24.7799 6.09954 25.936 8.64621C25.986 8.75666 26.012 8.87762 26.012 9.00015C26.012 9.12268 25.986 9.24365 25.936 9.3541C24.7799 11.9008 22.9806 14.0576 20.7381 15.5848ZM19.9056 3.79053C17.8442 2.39084 15.4478 1.64695 13.0001 1.64695C10.5524 1.64695 8.15601 2.39084 6.09461 3.79053C4.20175 5.0829 2.66162 6.87921 1.62795 9.00016C2.66162 11.1211 4.20175 12.9174 6.09461 14.2098C8.15601 15.6095 10.5524 16.3534 13.0001 16.3534C15.4478 16.3534 17.8442 15.6095 19.9056 14.2098C21.7985 12.9174 23.3386 11.1211 24.3723 9.00014C23.3386 6.8792 21.7985 5.08289 19.9056 3.79053Z" fill="#7FC723"/>
                                    <path d="M12.9999 15.2637C11.8317 15.2637 10.6899 14.8963 9.7186 14.208C8.74735 13.5198 7.99035 12.5415 7.54333 11.3969C7.09631 10.2524 6.97935 8.99296 7.20724 7.7779C7.43513 6.56285 7.99763 5.44676 8.82361 4.57076C9.6496 3.69475 10.702 3.09819 11.8476 2.8565C12.9933 2.61481 14.1808 2.73885 15.26 3.21294C16.3392 3.68703 17.2616 4.48987 17.9106 5.51994C18.5596 6.55001 18.906 7.76104 18.906 8.9999C18.9059 10.6611 18.2836 12.2543 17.176 13.429C16.0684 14.6036 14.5662 15.2636 12.9999 15.2637ZM16.0866 5.72621C15.3725 4.96883 14.4328 4.4975 13.4278 4.39252C12.4227 4.28754 11.4144 4.55541 10.5746 5.15048C9.7349 5.74556 9.1157 6.63102 8.82254 7.656C8.52937 8.68098 8.58038 9.78206 8.96687 10.7716C9.35336 11.7612 10.0514 12.578 10.9421 13.0829C11.8328 13.5878 12.861 13.7496 13.8516 13.5406C14.8421 13.3317 15.7337 12.7649 16.3744 11.9369C17.0151 11.109 17.3652 10.071 17.3652 8.9999C17.3662 8.39177 17.2537 7.78945 17.0342 7.22762C16.8148 6.66578 16.4928 6.15552 16.0866 5.72621Z" fill="#7FC723"/>
                                    <path d="M13.0008 12.1519C12.2127 12.1518 11.4569 11.8198 10.8996 11.2288C10.3424 10.6378 10.0293 9.83622 10.0293 9.00042C10.0293 8.78373 10.1105 8.57592 10.2549 8.42269C10.3994 8.26947 10.5954 8.1834 10.7997 8.1834C11.004 8.1834 11.1999 8.26947 11.3444 8.42269C11.4889 8.57592 11.57 8.78373 11.57 9.00042C11.57 9.30052 11.654 9.59387 11.8112 9.84339C11.9684 10.0929 12.1918 10.2874 12.4533 10.4022C12.7147 10.5171 13.0024 10.5471 13.2799 10.4886C13.5574 10.43 13.8123 10.2855 14.0124 10.0733C14.2125 9.86109 14.3488 9.59073 14.404 9.2964C14.4592 9.00207 14.4308 8.69698 14.3226 8.41973C14.2143 8.14247 14.0309 7.90549 13.7956 7.73876C13.5604 7.57203 13.2838 7.48303 13.0008 7.48302C12.7965 7.48302 12.6005 7.39694 12.4561 7.24372C12.3116 7.0905 12.2304 6.88269 12.2304 6.666C12.2304 6.44931 12.3116 6.2415 12.4561 6.08828C12.6005 5.93506 12.7965 5.84898 13.0008 5.84898V5.849C13.7889 5.849 14.5447 6.18103 15.102 6.77203C15.6592 7.36304 15.9723 8.16462 15.9723 9.00043C15.9723 9.83624 15.6592 10.6378 15.102 11.2288C14.5447 11.8198 13.7889 12.1519 13.0008 12.1519V12.1519Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_53">
                                    <rect width="26" height="18" fill="white" transform="matrix(1 0 0 -1 0 18)"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                
                            </a>
                            <a href="" class="products-item__shop">
                                <span class="linear"></span>
                                <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_68_47)">
                                    <path d="M10.0008 14.0171C8.83219 14.0185 7.69924 13.619 6.79486 12.8866C5.89049 12.1542 5.27061 11.1343 5.04079 10.0004C5.02247 9.88098 5.03061 9.75903 5.06464 9.64302C5.09868 9.52701 5.1578 9.4197 5.2379 9.32854C5.318 9.23739 5.41717 9.16455 5.52854 9.11509C5.63992 9.06562 5.76082 9.04071 5.88289 9.04208C6.08351 9.03919 6.27857 9.10728 6.43296 9.23409C6.58735 9.3609 6.69091 9.53809 6.725 9.73375C6.88359 10.4828 7.29786 11.1551 7.89821 11.6376C8.49855 12.1202 9.24842 12.3836 10.0218 12.3836C10.7953 12.3836 11.5451 12.1202 12.1455 11.6376C12.7458 11.1551 13.1601 10.4828 13.3187 9.73375C13.3528 9.53809 13.4563 9.3609 13.6107 9.23409C13.7651 9.10728 13.9602 9.03919 14.1608 9.04208C14.2829 9.04071 14.4038 9.06562 14.5151 9.11509C14.6265 9.16455 14.7257 9.23739 14.8058 9.32854C14.8859 9.4197 14.945 9.52701 14.979 9.64302C15.0131 9.75903 15.0212 9.88098 15.0029 10.0004C14.7717 11.1413 14.1456 12.1667 13.2326 12.8999C12.3195 13.6331 11.1766 14.0282 10.0008 14.0171Z" fill="#7FC723"/>
                                    <path d="M17.4955 25H2.50604C2.16338 25.0005 1.82421 24.9319 1.50917 24.7985C1.19413 24.6651 0.909797 24.4697 0.673478 24.2242C0.437158 23.9786 0.253789 23.6881 0.134523 23.3702C0.0152575 23.0523 -0.0374108 22.7137 -0.0202774 22.375L0.661828 8.00837C0.690058 7.36428 0.968635 6.75589 1.43939 6.31023C1.91014 5.86457 2.53667 5.61609 3.18814 5.6167H16.8134C17.4649 5.61609 18.0914 5.86457 18.5622 6.31023C19.0329 6.75589 19.3115 7.36428 19.3397 8.00837L20.0218 22.375C20.039 22.7137 19.9863 23.0523 19.867 23.3702C19.7478 23.6881 19.5644 23.9786 19.3281 24.2242C19.0918 24.4697 18.8074 24.6651 18.4924 24.7985C18.1773 24.9319 17.8382 25.0005 17.4955 25ZM3.18814 7.2917C2.9648 7.2917 2.75061 7.3795 2.59269 7.53578C2.43476 7.69206 2.34604 7.90402 2.34604 8.12503L1.66393 22.4584C1.65822 22.5713 1.67578 22.6841 1.71553 22.7901C1.75529 22.896 1.81641 22.9929 1.89518 23.0747C1.97396 23.1566 2.06873 23.2217 2.17375 23.2662C2.27876 23.3107 2.39182 23.3335 2.50604 23.3334H17.4955C17.6097 23.3335 17.7228 23.3107 17.8278 23.2662C17.9328 23.2217 18.0276 23.1566 18.1064 23.0747C18.1851 22.9929 18.2463 22.896 18.286 22.7901C18.3258 22.6841 18.3433 22.5713 18.3376 22.4584L17.6555 8.0917C17.6555 7.87069 17.5668 7.65873 17.4089 7.50244C17.2509 7.34616 17.0367 7.25837 16.8134 7.25837L3.18814 7.2917Z" fill="#7FC723"/>
                                    <path d="M15.0525 6.45833H13.3683V5C13.3683 4.11594 13.0134 3.2681 12.3817 2.64298C11.75 2.01786 10.8933 1.66667 9.9999 1.66667C9.10654 1.66667 8.24976 2.01786 7.61806 2.64298C6.98636 3.2681 6.63148 4.11594 6.63148 5V6.45833H4.94727V5C4.94727 3.67392 5.4796 2.40215 6.42715 1.46447C7.3747 0.526784 8.65986 0 9.9999 0C11.3399 0 12.6251 0.526784 13.5726 1.46447C14.5202 2.40215 15.0525 3.67392 15.0525 5V6.45833Z" fill="#7FC723"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_68_47">
                                    <rect width="20" height="25" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                                                  
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart">
        <div class="cart__content">
            <div class="cart__header">
                <h2 class="cart__title">
                    Корзина
                    <span class="cart__count">
                        4 товара
                    </span>
                </h2>
                <button class="cart__close">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32 31.5L1.5 1" stroke="#A9A9A9" stroke-width="2"/>
                        <path d="M1.5 31.5L32 1" stroke="#A9A9A9" stroke-width="2"/>
                    </svg>                        
                </button>
            </div>
            <div class="cart__list cart-list">
                <div class="cart-list__item cart-item">
                    <div class="cart-item__left">
                        <div class="cart-item__img">
                            <img src="<%=require('@img/cart-img.png') %>" alt="">
                            <span class="cart-item__hit">
                                Хит
                            </span>
                        </div>
                        <p class="cart-item__name">
                            Казань ты моя царица
                            <span>
                                футболка
                            </span>
                        </p>
                    </div>
                    <div class="cart-item__counter">
                        <button class="cart-item__counter-control cart-item__counter-control_minus">
                            -
                        </button>
                        <input type="nubmer" class="cart-item__counter-val" value="1">
                        <button class="cart-item__counter-control cart-item__counter-control_plus">
                            +
                        </button>
                    </div>
                    <p class="cart-item__price">
                        1290 руб.
                    </p>
                    <button class="cart-item__delete">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 1L1 9.5" stroke="black"/>
                            <path d="M1 1L9.5 9.5" stroke="black"/>
                        </svg>                            
                    </button>
                </div>
                <div class="cart-list__item cart-item">
                    <div class="cart-item__left">
                        <div class="cart-item__img">
                            <img src="<%=require('@img/cart-img.png') %>" alt="">
                            <span class="cart-item__hit">
                                Хит
                            </span>
                        </div>
                        <p class="cart-item__name">
                            Казань ты моя царица
                            <span>
                                футболка
                            </span>
                        </p>
                    </div>
                    <div class="cart-item__counter">
                        <button class="cart-item__counter-control cart-item__counter-control_minus">
                            -
                        </button>
                        <input type="nubmer" class="cart-item__counter-val" value="1">
                        <button class="cart-item__counter-control cart-item__counter-control_plus">
                            +
                        </button>
                    </div>
                    <p class="cart-item__price">
                        1290 руб.
                    </p>
                    <button class="cart-item__delete">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 1L1 9.5" stroke="black"/>
                            <path d="M1 1L9.5 9.5" stroke="black"/>
                        </svg>                            
                    </button>
                </div>
                <div class="cart-list__item cart-item">
                    <div class="cart-item__left">
                        <div class="cart-item__img">
                            <img src="<%=require('@img/cart-img.png') %>" alt="">
                            <span class="cart-item__hit">
                                Хит
                            </span>
                        </div>
                        <p class="cart-item__name">
                            Казань ты моя царица
                            <span>
                                футболка
                            </span>
                        </p>
                    </div>
                    <div class="cart-item__counter">
                        <button class="cart-item__counter-control cart-item__counter-control_minus">
                            -
                        </button>
                        <input type="nubmer" class="cart-item__counter-val" value="1">
                        <button class="cart-item__counter-control cart-item__counter-control_plus">
                            +
                        </button>
                    </div>
                    <p class="cart-item__price">
                        1290 руб.
                    </p>
                    <button class="cart-item__delete">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 1L1 9.5" stroke="black"/>
                            <path d="M1 1L9.5 9.5" stroke="black"/>
                        </svg>                            
                    </button>
                </div>
                <div class="cart-list__item cart-item">
                    <div class="cart-item__left">
                        <div class="cart-item__img">
                            <img src="<%=require('@img/cart-img.png') %>" alt="">
                            <span class="cart-item__hit">
                                Хит
                            </span>
                        </div>
                        <p class="cart-item__name">
                            Казань ты моя царица
                            <span>
                                футболка
                            </span>
                        </p>
                    </div>
                    <div class="cart-item__counter">
                        <button class="cart-item__counter-control cart-item__counter-control_minus">
                            -
                        </button>
                        <input type="nubmer" class="cart-item__counter-val" value="1">
                        <button class="cart-item__counter-control cart-item__counter-control_plus">
                            +
                        </button>
                    </div>
                    <p class="cart-item__price">
                        1290 руб.
                    </p>
                    <button class="cart-item__delete">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 1L1 9.5" stroke="black"/>
                            <path d="M1 1L9.5 9.5" stroke="black"/>
                        </svg>                            
                    </button>
                </div>
                <div class="cart-list__item cart-item">
                    <div class="cart-item__left">
                        <div class="cart-item__img">
                            <img src="<%=require('@img/cart-img.png') %>" alt="">
                            <span class="cart-item__hit">
                                Хит
                            </span>
                        </div>
                        <p class="cart-item__name">
                            Казань ты моя царица
                            <span>
                                футболка
                            </span>
                        </p>
                    </div>
                    <div class="cart-item__counter">
                        <button class="cart-item__counter-control cart-item__counter-control_minus">
                            -
                        </button>
                        <input type="nubmer" class="cart-item__counter-val" value="1">
                        <button class="cart-item__counter-control cart-item__counter-control_plus">
                            +
                        </button>
                    </div>
                    <p class="cart-item__price">
                        1290 руб.
                    </p>
                    <button class="cart-item__delete">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 1L1 9.5" stroke="black"/>
                            <path d="M1 1L9.5 9.5" stroke="black"/>
                        </svg>                            
                    </button>
                </div>
            </div>
        </div>
        <div class="cart__footer">
            <p class="cart__footer-finish">
                <span>Итого:</span> 9 564 руб.
            </p>
            <button class="cart__footer-submit">
                <i>
                    <svg width="46" height="52" viewBox="0 0 46 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_34_2418)">
                        <path d="M16.4998 0.264574C10.1891 1.09576 4.52859 4.56839 0.928394 9.81748C0.378818 10.5622 0.0305799 11.4358 -0.0830078 12.3543C-0.0791078 12.8029 0.287655 13.1634 0.736319 13.1596C0.875582 13.1585 1.01224 13.1214 1.13314 13.0522C2.35645 11.9792 3.45072 10.7673 4.39371 9.44129C7.75341 5.77967 11.9605 2.99848 16.6458 1.34195C17.1814 1.14825 17.1563 0.183649 16.4998 0.264574Z" fill="white"/>
                        <path d="M41.602 42.7474C38.2423 46.409 34.0354 49.1902 29.3501 50.8469C28.8144 51.0404 28.8394 52.005 29.4959 51.9241C33.0615 51.5419 36.4608 50.2166 39.3442 48.0844C42.0413 45.9402 45.3556 43.3681 46.0791 39.8344C45.3847 37.1068 42.3876 41.9968 41.602 42.7474Z" fill="white"/>
                        <path d="M27.8754 31.0101C25.4101 30.9087 22.9412 30.9431 20.4797 31.1133C20.4465 29.8354 20.4048 28.5579 20.3544 27.281C23.8512 26.8107 27.9103 26.9141 30.9782 24.9415C35.6439 21.6288 33.1141 14.9121 28.1884 13.4074C25.2695 12.4987 22.1518 12.4438 19.2029 13.2493C19.0229 12.7306 18.4564 12.4563 17.9378 12.6363C17.5322 12.7772 17.263 13.1623 17.27 13.5917C17.5352 17.407 17.8116 21.2277 18.009 25.0515C16.3952 25.0076 14.7281 25.1539 13.1304 24.9511C12.3597 24.7728 11.5904 25.2532 11.4122 26.0239C11.2339 26.7947 11.7142 27.5639 12.485 27.7422C12.6974 27.7913 12.918 27.7913 13.1303 27.7422C14.7853 27.5394 16.4513 27.438 18.1187 27.4386C18.1705 28.6836 18.21 29.9286 18.2373 31.174C16.3541 31.182 14.4725 31.2852 12.5997 31.4836C12.0948 31.5021 11.7008 31.9264 11.7193 32.4313C11.7368 32.91 12.121 33.2942 12.5997 33.3117C14.4871 33.4206 16.3788 33.4331 18.2674 33.3494C18.2797 35.0542 18.2697 36.7592 18.213 38.4645C18.2359 39.1291 18.7932 39.6494 19.4579 39.6265C20.0903 39.6047 20.5981 39.0969 20.6199 38.4645C20.5947 36.7432 20.565 35.0224 20.531 33.302C22.9815 33.3515 25.433 33.2721 27.8752 33.0634C28.8645 32.8561 28.9178 31.1758 27.8754 31.0101ZM27.9423 15.4295C30.2485 16.4796 32.1933 19.0617 31.0828 21.6709C30.447 22.8539 29.3119 23.6872 27.9929 23.9397C25.466 24.6089 22.866 24.9631 20.2522 24.994C20.0838 21.6351 19.8248 18.2816 19.4241 14.9362C22.2748 14.6026 25.2679 14.2119 27.9423 15.4295Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_34_2418">
                        <rect width="46" height="52" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </i>
                Оформить заказ
            </button>
        </div>
    </div>
    <div class="catalog-dropdown">
        <div class="catalog-dropdown__list">
            <a href="" class="catalog-dropdown__list-item catitem">
                <div class="catitem__linear"></div>
                <div class="catitem__wrapper">
                    <p class="catitem__title">
                        Дом и интерьер
                    </p>
                    <div class="catitem__group">
                        <div class="catitem__gallery">
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-1.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-2.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-3.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-4.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-5.png') %>" alt="">
                            </div>
                        </div>
                        <p class="catitem__count">
                            36 товаров
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-dropdown__list-item catitem">
                <div class="catitem__linear"></div>
                <div class="catitem__wrapper">
                    <p class="catitem__title">
                        Дом и интерьер
                    </p>
                    <div class="catitem__group">
                        <div class="catitem__gallery">
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-1.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-2.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-3.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-4.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-5.png') %>" alt="">
                            </div>
                        </div>
                        <p class="catitem__count">
                            36 товаров
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-dropdown__list-item catitem">
                <div class="catitem__linear"></div>
                <div class="catitem__wrapper">
                    <p class="catitem__title">
                        Дом и интерьер
                    </p>
                    <div class="catitem__group">
                        <div class="catitem__gallery">
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-1.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-2.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-3.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-4.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-5.png') %>" alt="">
                            </div>
                        </div>
                        <p class="catitem__count">
                            36 товаров
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="catalog-dropdown__list-item catitem">
                <div class="catitem__linear"></div>
                <div class="catitem__wrapper">
                    <p class="catitem__title">
                        Дом и интерьер
                    </p>
                    <div class="catitem__group">
                        <div class="catitem__gallery">
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-1.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-2.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-3.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-4.png') %>" alt="">
                            </div>
                            <div class="catitem__gallery-item">
                                <img src="<%=require('@img/cat-5.png') %>" alt="">
                            </div>
                        </div>
                        <p class="catitem__count">
                            36 товаров
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="catalog-dropdown__btn-wrapper">
            <a href="" class="catalog-dropdown__btn">
                <i>
                    <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 1L30 10L21 19" stroke="white" stroke-width="2"/>
                        <path d="M0 10L30 10" stroke="white" stroke-width="2"/>
                    </svg>                        
                </i>
                открыть каталог товаров
            </a>
        </div>
    </div>
    <div class="cart-backdrop"></div>
    <div class="search-backdrop"></div>
    <header class="header">
        <div class="header__left">
            <div class="header__navbar header-navbar">
                <button class="header__burger header-navbar__burger js--openNav">
                    <span class="linear-bg"></span>
                    <i>
                        <span></span><span></span><span></span>
                    </i>
                    <span>Меню</span>
                </button>
                <!-- <div class="header-navbar__dropdown">
                    <div class="header-navbar__list">
                        <a class="header-navbar__item">
                            <p class="header-navbar__titile">
                                Дом и интерьер
                            </p>
                            <div class="header-navbar__group">
                                <div class="header-navbar__gallery">
                                    <div><img src="<%=require('@img/navbar-1.png') %>" alt=""></div>
                                    <div><img src="<%=require('@img/navbar-2.png') %>" alt=""></div>
                                    <div><img src="<%=require('@img/navbar-3.png') %>" alt=""></div>
                                    <div><img src="<%=require('@img/navbar-4.png') %>" alt=""></div>
                                    <div><img src="<%=require('@img/navbar-5.png') %>" alt=""></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
            <button class="header__catalog js--openCatalog">
                <span class="linear-bg"></span>
                <i>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="6" height="6" fill="#81C230"/>
                        <rect y="10" width="6" height="6" fill="#81C230"/>
                        <rect x="10" width="6" height="6" fill="#81C230"/>
                        <rect x="10" y="10" width="6" height="6" fill="#81C230"/>
                    </svg>                        
                </i>
                <span>Каталог товаров</span>
            </button>
        </div>
        <div class="header__center">
            <a href="/" class="header__logo">
                <img src="<%=require('@img/logo.png') %>" alt="">
            </a>
        </div>
        <div class="header__right">
            <a href="tel:+7 928 330 77 93" class="header__phone">+7 928 330 77 93</a>
            <div class="header__group">
                <button class="header__btn header__search js--searchOpen">
                    <span class="linear"></span>
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 21.1838L7.5 14.6838" stroke="#333333" stroke-width="1.2" stroke-linecap="round"/>
                        <circle cx="13.5" cy="8.68384" r="7.9" stroke="#333333" stroke-width="1.2"/>
                    </svg>                        
                </button>
                <a href="" class="header__btn header__lk">
                    <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_10_129)">
                        <path d="M9.34199 10.5569C10.8089 10.5569 12.079 10.0367 13.1171 9.01044C14.1548 7.98431 14.6811 6.72878 14.6811 5.27828C14.6811 3.82829 14.1549 2.5726 13.1169 1.54613C12.0788 0.520171 10.8088 0 9.34199 0C7.87489 0 6.60498 0.520171 5.5671 1.5463C4.52923 2.57243 4.00293 3.82813 4.00293 5.27828C4.00293 6.72878 4.52923 7.98448 5.5671 9.0106C6.60532 10.0366 7.8754 10.5569 9.34199 10.5569ZM6.48575 2.45438C7.28213 1.66702 8.21634 1.28429 9.34199 1.28429C10.4675 1.28429 11.4019 1.66702 12.1984 2.45438C12.9948 3.24191 13.3821 4.16571 13.3821 5.27828C13.3821 6.39119 12.9948 7.31482 12.1984 8.10235C11.4019 8.88988 10.4675 9.27261 9.34199 9.27261C8.21668 9.27261 7.28247 8.88972 6.48575 8.10235C5.68921 7.31499 5.30193 6.39119 5.30193 5.27828C5.30193 4.16571 5.68921 3.24191 6.48575 2.45438Z" fill="#333333"/>
                        <path d="M18.6838 16.8521C18.6539 16.4251 18.5933 15.9593 18.5042 15.4674C18.4142 14.9718 18.2984 14.5033 18.1597 14.0751C18.0163 13.6325 17.8216 13.1954 17.5806 12.7765C17.3309 12.3418 17.0373 11.9633 16.7078 11.6518C16.3633 11.3259 15.9416 11.0639 15.4538 10.8728C14.9678 10.6827 14.4291 10.5863 13.8529 10.5863C13.6267 10.5863 13.4078 10.6781 12.9852 10.9502C12.7251 11.1179 12.4208 11.3118 12.0813 11.5264C11.7909 11.7093 11.3975 11.8807 10.9116 12.0358C10.4376 12.1875 9.95629 12.2644 9.48107 12.2644C9.00618 12.2644 8.52487 12.1875 8.05049 12.0358C7.56512 11.8808 7.17159 11.7095 6.88172 11.5265C6.54534 11.314 6.24093 11.1201 5.97694 10.95C5.55465 10.678 5.33581 10.5862 5.10953 10.5862C4.53317 10.5862 3.9947 10.6827 3.50882 10.8729C3.02142 11.0637 2.59947 11.3257 2.25464 11.6519C1.9252 11.9636 1.63161 12.342 1.38199 12.7765C1.14134 13.1954 0.946513 13.6323 0.803101 14.0752C0.664593 14.5034 0.548747 14.9718 0.458776 15.4674C0.369481 15.9586 0.309106 16.4246 0.279172 16.8526C0.249746 17.2712 0.234863 17.7067 0.234863 18.1468C0.234863 19.2908 0.602695 20.2169 1.32804 20.9C2.04443 21.574 2.99217 21.9157 4.14505 21.9157H14.8184C15.971 21.9157 16.9187 21.574 17.6353 20.9C18.3608 20.2174 18.7286 19.291 18.7286 18.1466C18.7285 17.705 18.7134 17.2695 18.6838 16.8521ZM16.7396 19.9695C16.2663 20.4149 15.6378 20.6314 14.8183 20.6314H4.14505C3.32533 20.6314 2.69689 20.4149 2.22369 19.9697C1.75946 19.5327 1.53386 18.9363 1.53386 18.1468C1.53386 17.7361 1.54756 17.3307 1.57496 16.9414C1.60168 16.5595 1.6563 16.14 1.73731 15.6943C1.8173 15.254 1.91911 14.8408 2.0402 14.4668C2.15638 14.1082 2.31485 13.753 2.51136 13.4109C2.69892 13.0849 2.91471 12.8051 3.15283 12.5798C3.37556 12.3689 3.65629 12.1964 3.98709 12.0669C4.29303 11.9472 4.63684 11.8817 5.01009 11.8718C5.05558 11.8957 5.13659 11.9414 5.26782 12.026C5.53486 12.198 5.84266 12.3943 6.18292 12.6092C6.56648 12.851 7.06065 13.0693 7.65104 13.2578C8.25462 13.4507 8.87021 13.5487 9.48123 13.5487C10.0923 13.5487 10.708 13.4507 11.3113 13.2579C11.9022 13.0692 12.3962 12.851 12.7802 12.6088C13.1284 12.3888 13.4276 12.1982 13.6946 12.026C13.8259 11.9415 13.9069 11.8957 13.9524 11.8718C14.3258 11.8817 14.6696 11.9472 14.9757 12.0669C15.3063 12.1964 15.5871 12.3691 15.8098 12.5798C16.0479 12.805 16.2637 13.0847 16.4513 13.4111C16.648 13.753 16.8066 14.1083 16.9226 14.4666C17.0439 14.8412 17.1458 15.2542 17.2257 15.6941C17.3065 16.1407 17.3613 16.5604 17.388 16.9416V16.9419C17.4156 17.3297 17.4295 17.735 17.4296 18.1468C17.4295 18.9365 17.2039 19.5327 16.7396 19.9695Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_10_129">
                        <rect width="19" height="21.9158" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </a>
                <a href="" class="header__btn header__featured">
                    <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_10_133)">
                        <path d="M12.5 21.7406C12.1441 21.7406 11.8009 21.6155 11.5335 21.3882C10.5236 20.5311 9.54988 19.7256 8.69082 19.0151L8.68643 19.0114C6.16778 16.9283 3.99284 15.1293 2.47955 13.3572C0.787924 11.376 0 9.49761 0 7.44557C0 5.45185 0.704382 3.61251 1.98326 2.26614C3.27739 0.90385 5.05313 0.153564 6.98393 0.153564C8.42703 0.153564 9.74863 0.596368 10.9119 1.46957C11.499 1.91034 12.0311 2.44978 12.5 3.07899C12.969 2.44978 13.5009 1.91034 14.0882 1.46957C15.2515 0.596368 16.5731 0.153564 18.0162 0.153564C19.9468 0.153564 21.7227 0.90385 23.0169 2.26614C24.2958 3.61251 25 5.45185 25 7.44557C25 9.49761 24.2122 11.376 22.5206 13.357C21.0073 15.1293 18.8326 16.9281 16.3143 19.011C15.4537 19.7226 14.4785 20.5294 13.4662 21.3885C13.199 21.6155 12.8557 21.7406 12.5 21.7406ZM6.98393 1.57491C5.46702 1.57491 4.07352 2.16247 3.05976 3.2295C2.03094 4.31263 1.46427 5.80986 1.46427 7.44557C1.46427 9.17143 2.12516 10.715 3.60698 12.4503C5.03921 14.1276 7.16952 15.8896 9.6361 17.9298L9.64067 17.9335C10.503 18.6467 11.4805 19.4553 12.4979 20.3187C13.5214 19.4537 14.5004 18.6438 15.3644 17.9294C17.8308 15.8892 19.9609 14.1276 21.3932 12.4503C22.8748 10.715 23.5357 9.17143 23.5357 7.44557C23.5357 5.80986 22.969 4.31263 21.9402 3.2295C20.9266 2.16247 19.5329 1.57491 18.0162 1.57491C16.905 1.57491 15.8847 1.91775 14.9839 2.5938C14.1811 3.19654 13.6219 3.95849 13.294 4.49163C13.1254 4.7658 12.8286 4.92944 12.5 4.92944C12.1713 4.92944 11.8746 4.7658 11.7059 4.49163C11.3783 3.95849 10.819 3.19654 10.016 2.5938C9.1152 1.91775 8.09496 1.57491 6.98393 1.57491Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_10_133">
                        <rect width="25" height="21.9158" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </a>
                <button class="header__btn header__cart js--openCart">
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_10_135)">
                        <path d="M8.4564 16.8028C7.13147 16.8028 6.05746 17.8358 6.05746 19.11C6.05746 20.3843 7.13152 21.4173 8.4564 21.4173C9.78132 21.4173 10.8553 20.3842 10.8553 19.11C10.8554 17.8358 9.78132 16.8028 8.4564 16.8028ZM8.4564 20.3919C7.72034 20.3919 7.12367 19.818 7.12367 19.1101C7.12367 18.4021 7.72034 17.8283 8.4564 17.8283C9.19246 17.8283 9.78913 18.4021 9.78913 19.1101C9.78918 19.818 9.19246 20.3919 8.4564 20.3919Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.62913 19.1101C9.62913 18.4911 9.10666 17.9848 8.4564 17.9848C7.80614 17.9848 7.28367 18.4911 7.28367 19.1101C7.28367 19.729 7.80614 20.2353 8.4564 20.2353C9.10667 20.2353 9.62917 19.729 9.62913 19.1101ZM5.89746 19.11C5.89746 17.7468 7.04568 16.6462 8.4564 16.6462C9.86712 16.6462 11.0154 17.7468 11.0153 19.11C11.0153 20.4732 9.86712 21.5738 8.4564 21.5738C7.04573 21.5738 5.89746 20.4732 5.89746 19.11ZM9.78913 19.1101C9.78913 18.4021 9.19246 17.8283 8.4564 17.8283C7.72034 17.8283 7.12367 18.4021 7.12367 19.1101C7.12367 19.818 7.72034 20.3919 8.4564 20.3919C9.19246 20.3919 9.78918 19.818 9.78913 19.1101ZM6.05746 19.11C6.05746 17.8358 7.13147 16.8028 8.4564 16.8028C9.78132 16.8028 10.8554 17.8358 10.8553 19.11C10.8553 20.3842 9.78132 21.4173 8.4564 21.4173C7.13152 21.4173 6.05746 20.3843 6.05746 19.11Z" fill="#333333"/>
                        <path d="M18.5855 16.8027C17.2605 16.8027 16.1865 17.8357 16.1865 19.11C16.1865 20.3843 17.2606 21.4172 18.5855 21.4172C19.9103 21.4172 20.9844 20.3842 20.9844 19.11C20.9844 17.8357 19.9104 16.8027 18.5855 16.8027ZM18.5855 20.3918C17.8494 20.3918 17.2527 19.818 17.2527 19.11C17.2527 18.4021 17.8494 17.8282 18.5855 17.8282C19.3215 17.8282 19.9182 18.4021 19.9182 19.11C19.9182 19.818 19.3215 20.3918 18.5855 20.3918Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.758 19.1101V19.1101C19.758 18.4911 19.2356 17.9848 18.5853 17.9848C17.935 17.9848 17.4126 18.4911 17.4126 19.1101C17.4126 19.729 17.935 20.2353 18.5853 20.2353C19.2356 20.2353 19.7581 19.729 19.758 19.1101ZM16.0264 19.11C16.0264 17.7468 17.1746 16.6462 18.5853 16.6462C19.996 16.6462 21.1442 17.7468 21.1442 19.11C21.1442 20.4732 19.996 21.5738 18.5853 21.5738C17.1746 21.5738 16.0264 20.4732 16.0264 19.11ZM19.918 19.1101C19.918 18.4021 19.3214 17.8283 18.5853 17.8283C17.8492 17.8283 17.2526 18.4021 17.2526 19.1101C17.2526 19.818 17.8492 20.3919 18.5853 20.3919C19.3214 20.3919 19.9181 19.818 19.918 19.1101ZM16.1864 19.11C16.1864 17.8358 17.2604 16.8028 18.5853 16.8028C19.9102 16.8028 20.9842 17.8358 20.9842 19.11C20.9842 20.3842 19.9102 21.4173 18.5853 21.4173C17.2604 21.4173 16.1864 20.3843 16.1864 19.11Z" fill="#333333"/>
                        <path d="M23.4555 3.86791L23.4556 3.86787L23.4532 3.86541C23.3252 3.73088 23.1508 3.64733 22.9637 3.62965L22.9638 3.62932L22.9557 3.62922L5.67381 3.3994L5.21676 2.05602L5.21677 2.05601L5.21622 2.05448C4.86344 1.07055 3.90723 0.409498 2.83075 0.39854V0.398535H2.82973H1.04384C0.697878 0.398535 0.410742 0.669264 0.410742 1.01134C0.410742 1.35341 0.697878 1.62414 1.04384 1.62414H2.82865C3.36816 1.63602 3.84003 1.96909 4.01488 2.45479C4.01495 2.45498 4.01502 2.45518 4.01509 2.45538L7.3869 12.2367L7.13674 12.7902L7.13667 12.7902L7.13512 12.794C6.8253 13.5625 6.91854 14.4275 7.38489 15.1181L7.38511 15.1184C7.84734 15.7972 8.62377 16.2146 9.46402 16.2389L9.46402 16.239H9.46691H19.8358C20.1817 16.239 20.4689 15.9683 20.4689 15.6262C20.4689 15.2841 20.1817 15.0134 19.8358 15.0134H9.46806C9.04348 15.0028 8.65436 14.7878 8.43125 14.4436L8.43122 14.4436C8.2099 14.1025 8.16417 13.6833 8.30634 13.306L8.49416 12.8995L19.6591 11.7771L19.6597 11.777C20.9321 11.6422 21.9823 10.7514 22.2785 9.54769L23.5564 4.4001C23.6246 4.2178 23.5857 4.01435 23.4555 3.86791ZM21.0448 9.2686L21.0448 9.26859L21.0444 9.27052C20.8817 9.97303 20.2603 10.4949 19.5083 10.5523L19.506 10.5525L8.49625 11.6472L6.08908 4.62605L22.16 4.85301L21.0448 9.2686Z" fill="#333333" stroke="#333333" stroke-width="0.2"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_10_135">
                        <rect width="24" height="21.9158" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg> 
                    <span class="header__cart-count">
                        15
                    </span>                       
                </button>
                <div class="header__lang">
                    <span class="header__lang-current">
                        EN
                    </span>
                    <ul class="header__lang-list">
                        <li><a href="">RU</a></li>
                        <li><a href="">FR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>